<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.gfscript</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/kei/.config/gf-script/gf-script.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/kei/.config/gf-script/gf-script.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/kei/.config/gf-script/gf-script.log</string>
</dict>
</plist>


<!--
this is an example file that contains my username due to plists not exactly supporting relative paths (to get to the home folder).
the install script is responsible for removing my username and replacing it with yours during installation.
if you are installing this script manually, kindly edit the file yourself.
-->
